
a{
	text-decoration: none;
	color: #e9e4e5;
}

.top{
	background: #48111c;
	width: 100%;
	height: 101px;
}
.top .container .nav .logo a img{
	width: 60px;
	height: 60px;
	padding-left: 120px;
	
}
.top .container .nav ul {
	list-style: none;
	font-size: 18px;		
	line-height: 18px; 
    width: 800px;
    height: 100px;
    margin: 0 auto;
    color: #e9e4e5;
}
.top .container .nav ul li{
	float: left;
	margin-right: 20px;
	font-size: 18px;
	line-height: 18px;
   
}
.top .container .cart{
	width: 120px;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	margin-left: 20px;
	float: right;
	padding-top: 50px;
	padding-right: 150px;
	font-size: 20px;

    
}
.top .container .cart a{
	text-decoration: none;
	color: #96626d;
}
.top .container .cart i{
	font-size: 25px;
	margin-left: 10px;
}



.header{
	background: #4f1620;
	width: 100%;
	height: 37px;
}
.header .header-box ul li{
	display: inline-block;
	float: left;
	margin-left: 10px;
	color: #96626d;
}
.header .header-box li:hover{
	color: #fff;
}
.header .header-box .xz{
	width: 100px;
	height: 30px;
	background-color: blue;
	float: right;
	padding-left: 33px;
	margin-right: 70px;
	
}
.header .header-box .gq{
	width: 400px;
	height: 30px;
	float: right;
	margin-right: 100px;
	margin-top: -20px;
	color: #8e4d45;
}
.hot{
	background: #732e3e;
	width: 100%;
	height: 763px;
}
.hot img{
     width: 100%;
     height: 100%;
}

.box1{
	background: # 030207;
	width: 100%;
	height: 763px;
}
.box1 img{
	
}
.box2{
	background: #050409;
	width: 100%;
	height:763px;
}
.box3{
	background: #212025;
	width: 100%;
	height: 600px;
}
.footer{
	background: #fafafa;
	width: 100%;
	height: 250px;
	margin-top: 400px;
}
.footer-box1 ul li dl{
	float: left;
	margin-left: 80px;
	margin-top: 40px;
	color: #646464;
}
.footer-box1 ul li dd{
	font-size: 12px;
	margin-top: 20px;
	color: #969696;
}
.footer-box2{
	float: right;
	margin-top: 70px;
	margin-right: 60px;
}
.end{
	background: #e3fafa;
	width: 100%;
	height: 120px;
}
.end .end-box li{
    /*color: #bdc6d5;*/
}
.end .end-box span{
	  color: #4c4c4c;
}
.end .end-box  .adress{
    margin-right: 155px;
}